<a href="https://colab.research.google.com/github/benayyad12/House-prices-Prediction-/blob/main/cars_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data acquisition :

In [4]:
import pandas as pd
import numpy as np

In [5]:
cars = pd.read_csv('/content/imports-85.data')

In [6]:
cars.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [7]:
cols = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 
        'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 
        'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-rate', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg','price']

In [8]:
cars = pd.read_csv('/content/imports-85.data',names=cols)

In [9]:
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [10]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-rate   205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [11]:
cont = ['normalized-losses', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-rate', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
df_num = cars[cont]

In [12]:
df_num

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,?,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845
201,95,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045
202,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485
203,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470
204,95,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625

### Data cleaning:

In [13]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  205 non-null    object
 1   wheel-base         205 non-null    float64
 2   length             205 non-null    float64
 3   width              205 non-null    float64
 4   height             205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   engine-size        205 non-null    int64
 7   bore               205 non-null    object
 8   stroke             205 non-null    object
 9   compression-rate   205 non-null    float64
 10  horsepower         205 non-null    object
 11  peak-rpm           205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    object
dtypes: float64(5), int64(4), object(6)
memory usage: 24.1+ KB

In [14]:
df_num[df_num['normalized-losses']=='?']

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,?,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
5,?,99.8,177.3,66.3,53.1,2507,136,3.19,3.40,8.5,110,5500,19,25,15250
7,?,105.8,192.7,71.4,55.7,2954,136,3.19,3.40,8.5,110,5500,19,25,18920
9,?,99.5,178.2,67.9,52.0,3053,131,3.13,3.40,7.0,160,5500,16,22,?
14,?,103.5,189.0,66.9,55.7,3055,164,3.31,3.19,9.0,121,4250,20,25,24565
15,?,103.5,189.0,66.9,55.7,3230,209,3.62,3.39,8.0,182,5400,16,22,30760
16,?,103.5,193.8,67.9,53.7,3380,209,3.62,3.39,8.0,182,5400,16,22,41315
17,?,110.0,197.0,70.9,56.3,3505,209,3.62,3.39,8.0,182,5400,15,20,36880
43,?,94.3,170.7,61.8,53.5,2337,111,3.31,3.23,8.5,78,4800,24,29,6785
44,?,94.5,155.9,63.6,52.0,1874,90,3.03,3.11,9.6,70,5400,38,43,?
45,?,94.5,155.9,63.6,52.0,1909,90,3.03,3.11,9.6,70,5400,38,43,?
46,?,96.0,172.6,65.2,51.4,2734,119,3.43,3.23,9.2,90,5000,24,29,11048
48,?,113.0,199.6,69.6,52.8,4066,258,3.63,4.17,8.1,176,4750,15,19,35550
49,?,102.0,191.7,70.6,47.8,3950,326,3.54,2.76,11.5,262,5000,13,17,36000
63,?,98.8,177.8,66.5,55.5,2443,122,3.39,3.39,22.7,64,4650,36,42,10795
66,?,104.9,175.0,66.1,54.4,2700,134,3.43,3.64,22.0,72,4200,31,39,18344
71,?,115.6,202.6,71.7,56.5,3740,234,3.46,3.10,8.3,155,4750,16,18,34184
73,?,120.9,208.1,71.7,56.7,3900,308,3.80,3.35,8.0,184,4500,14,16,40960
74,?,112.0,199.2,72.0,55.4,3715,304,3.80,3.35,8.0,184,4500,14,16,45400
75,?,102.7,178.4,68.0,54.8,2910,140,3.78,3.12,8.0,175,5000,19,24,16503
82,?,95.9,173.2,66.3,50.2,2833,156,3.58,3.86,7.0,145,5000,19,24,12629
83,?,95.9,173.2,66.3,50.2,2921,156,3.59,3.86,7.0,145,5000,19,24,14869
84,?,95.9,173.2,66.3,50.2,2926,156,3.59,3.86,7.0,145,5000,19,24,14489
109,?,114.2,198.9,68.4,58.7,3230,120,3.46,3.19,8.4,97,5000,19,24,12440
110,?,114.2,198.9,68.4,58.7,3430,152,3.70,3.52,21.0,95,4150,25,25,13860
113,?,114.2,198.9,68.4,56.7,3285,120,3.46,2.19,8.4,95,5000,19,24,16695
114,?,114.2,198.9,68.4,58.7,3485,152,3.70,3.52,21.0,95,4150,25,25,17075
124,?,95.9,173.2,66.3,50.2,2818,156,3.59,3.86,7.0,145,5000,19,24,12764
126,?,89.5,168.9,65.0,51.6,2756,194,3.74,2.90,9.5,207,5900,17,25,32528
127,?,89.5,168.9,65.0,51.6,2756,194,3.74,2.90,9.5,207,5900,17,25,34028
128,?,89.5,168.9,65.0,51.6,2800,194,3.74,2.90,9.5,207,5900,17,25,37028
129,?,98.4,175.7,72.3,50.5,3366,203,3.94,3.11,10.0,288,5750,17,28,?
130,?,96.1,181.5,66.5,55.2,2579,132,3.46,3.90,8.7,?,?,23,31,9295
131,?,96.1,176.8,66.6,50.5,2460,132,3.46,3.90,8.7,?,?,23,31,9895
181,?,104.5,187.8,66.5,54.1,3151,161,3.27,3.35,9.2,156,5200,19,24,15750
189,?,94.5,159.3,64.2,55.6,2254,109,3.19,3.40,8.5,90,5500,24,29,11595
191,?,100.4,180.2,66.9,55.1,2661,136,3.19,3.40,8.5,110,5500,19,24,13295
192,?,100.4,180.2,66.9,55.1,2579,97,3.01,3.40,23.0,68,4500,33,38,13845
193,?,100.4,183.1,66.9,55.1,2563,109,3.19,3.40,9.0,88,5500,25,31,12290

In [15]:
# replace ? with nan :

df_num['normalized-losses']=df_num['normalized-losses'].replace('?',np.nan)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
df_num['normalized-losses']

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [17]:
df_num.isnull().sum()

normalized-losses    41
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-size           0
bore                  0
stroke                0
compression-rate      0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [18]:
df_num

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845
201,95,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045
202,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485
203,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470
204,95,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625

In [19]:
df_num[df_num['price']=='?']

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
9,NaN,99.5,178.2,67.9,52.0,3053,131,3.13,3.40,7.0,160,5500,16,22,?
44,NaN,94.5,155.9,63.6,52.0,1874,90,3.03,3.11,9.6,70,5400,38,43,?
45,NaN,94.5,155.9,63.6,52.0,1909,90,3.03,3.11,9.6,70,5400,38,43,?
129,NaN,98.4,175.7,72.3,50.5,3366,203,3.94,3.11,10.0,288,5750,17,28,?

In [20]:
df_num['price'] = df_num['price'].replace('?',np.nan)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df_num['price'] = df_num['price'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_num.isnull().sum()

normalized-losses    41
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-size           0
bore                  0
stroke                0
compression-rate      0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [25]:
df_num['price'].isnull().sum()

4

In [26]:
# Price is the target : 

# we should remove rows with price value null

In [27]:
df_num = df_num.dropna(subset=['price'])

In [28]:
df_num.isnull().sum()

normalized-losses    37
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-size           0
bore                  0
stroke                0
compression-rate      0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [32]:
df_num.describe()

,wheel-base,length,width,height,curb-weight,engine-size,compression-rate,city-mpg,highway-mpg,price
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,10.164279,25.179104,30.686567,13207.129353
std,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,4.004965,6.423220,6.815150,7947.066342
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,8.600000,19.000000,25.000000,7775.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000,10295.000000
75%,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,9.400000,30.000000,34.000000,16500.000000
max,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000,45400.000000

In [33]:
df_num = df_num.fillna(df_num.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [34]:
df_num.describe()

,wheel-base,length,width,height,curb-weight,engine-size,compression-rate,city-mpg,highway-mpg,price
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,10.164279,25.179104,30.686567,13207.129353
std,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,4.004965,6.423220,6.815150,7947.066342
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000,5118.000000
25%,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,8.600000,19.000000,25.000000,7775.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000,10295.000000
75%,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,9.400000,30.000000,34.000000,16500.000000
max,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000,45400.000000

In [35]:
df_num.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [36]:
df_num.isnull().sum()

normalized-losses    37
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-size           0
bore                  0
stroke                0
compression-rate      0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [41]:
df_num = df_num.fillna(df_num.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [42]:
df_num

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,95,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,95,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0

In [48]:
df_num['normalized-losses']=df_num['normalized-losses'].astype(float)

In [49]:
df_num.fillna(df_num.mean(),inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [50]:
df_num

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0

In [51]:
df_num.isnull().sum()

normalized-losses    0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-size          0
bore                 0
stroke               0
compression-rate     0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

### Normalization

In [52]:
# normalize all columns so values can range from 0 to 1 except df_num['price']

In [54]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  201 non-null    float64
 1   wheel-base         201 non-null    float64
 2   length             201 non-null    float64
 3   width              201 non-null    float64
 4   height             201 non-null    float64
 5   curb-weight        201 non-null    int64
 6   engine-size        201 non-null    int64
 7   bore               201 non-null    object
 8   stroke             201 non-null    object
 9   compression-rate   201 non-null    float64
 10  horsepower         201 non-null    object
 11  peak-rpm           201 non-null    object
 12  city-mpg           201 non-null    int64
 13  highway-mpg        201 non-null    int64
 14  price              201 non-null    float64
dtypes: float64(7), int64(4), object(4)
memory usage: 25.1+ KB

In [55]:
df_num.columns

Index(['normalized-losses', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-rate',
       'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [56]:
df_num['highway-mpg'] = df_num['highway-mpg'].astype(int)

In [58]:
df_num['horsepower'].replace('?',np.nan,inplace=True)

In [63]:
df_num['horsepower'].isnull().sum()

2

In [64]:
df_num['horsepower']=df_num['horsepower'].astype(float)

In [65]:
df_num = df_num.fillna(df_num.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [66]:
df_num['horsepower'].isnull().sum()

0

In [68]:
c=['peak-rpm','stroke','bore']
for i in c:
       df_num[i].replace('?',np.nan,inplace=True)
       df_num[i]=df_num[i].astype(float)
df_num = df_num.fillna(df_num.mean())

In [69]:
df_num.isnull().sum()

normalized-losses    0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-size          0
bore                 0
stroke               0
compression-rate     0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [71]:
price_ = df_num['price']
df_num = (df_num - df_num.min())/(df_num.max()-df_num.min())
df_num['price'] = price_

In [72]:
df_num

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,0.294393,0.346939,0.222222,0.289474,0.207959
1,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,0.294393,0.346939,0.222222,0.289474,0.282558
2,0.298429,0.230321,0.449254,0.444444,0.383333,0.517843,0.343396,0.100000,0.666667,0.12500,0.495327,0.346939,0.166667,0.263158,0.282558
3,0.518325,0.384840,0.529851,0.504274,0.541667,0.329325,0.181132,0.464286,0.633333,0.18750,0.252336,0.551020,0.305556,0.368421,0.219254
4,0.518325,0.373178,0.529851,0.521368,0.541667,0.518231,0.283019,0.464286,0.633333,0.06250,0.313084,0.551020,0.138889,0.157895,0.306142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.157068,0.655977,0.711940,0.735043,0.641667,0.567882,0.301887,0.885714,0.514286,0.15625,0.308411,0.510204,0.277778,0.315789,0.291123
201,0.157068,0.655977,0.711940,0.726496,0.641667,0.605508,0.301887,0.885714,0.514286,0.10625,0.523364,0.469388,0.166667,0.236842,0.345738
202,0.157068,0.655977,0.711940,0.735043,0.641667,0.591156,0.422642,0.742857,0.380952,0.11250,0.401869,0.551020,0.138889,0.184211,0.406311
203,0.157068,0.655977,0.711940,0.735043,0.641667,0.670675,0.316981,0.335714,0.633333,1.00000,0.271028,0.265306,0.361111,0.289474,0.430763
204,0.157068,0.655977,0.711940,0.735043,0.641667,0.610551,0.301887,0.885714,0.514286,0.15625,0.308411,0.510204,0.166667,0.236842,0.434611

In [73]:
price_

0      0.207959
1      0.282558
2      0.282558
3      0.219254
4      0.306142
         ...
200    0.291123
201    0.345738
202    0.406311
203    0.430763
204    0.434611
Name: price, Length: 201, dtype: float64

In [75]:
cars

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [76]:
df_num

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,0.294393,0.346939,0.222222,0.289474,0.207959
1,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,0.294393,0.346939,0.222222,0.289474,0.282558
2,0.298429,0.230321,0.449254,0.444444,0.383333,0.517843,0.343396,0.100000,0.666667,0.12500,0.495327,0.346939,0.166667,0.263158,0.282558
3,0.518325,0.384840,0.529851,0.504274,0.541667,0.329325,0.181132,0.464286,0.633333,0.18750,0.252336,0.551020,0.305556,0.368421,0.219254
4,0.518325,0.373178,0.529851,0.521368,0.541667,0.518231,0.283019,0.464286,0.633333,0.06250,0.313084,0.551020,0.138889,0.157895,0.306142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.157068,0.655977,0.711940,0.735043,0.641667,0.567882,0.301887,0.885714,0.514286,0.15625,0.308411,0.510204,0.277778,0.315789,0.291123
201,0.157068,0.655977,0.711940,0.726496,0.641667,0.605508,0.301887,0.885714,0.514286,0.10625,0.523364,0.469388,0.166667,0.236842,0.345738
202,0.157068,0.655977,0.711940,0.735043,0.641667,0.591156,0.422642,0.742857,0.380952,0.11250,0.401869,0.551020,0.138889,0.184211,0.406311
203,0.157068,0.655977,0.711940,0.735043,0.641667,0.670675,0.316981,0.335714,0.633333,1.00000,0.271028,0.265306,0.361111,0.289474,0.430763
204,0.157068,0.655977,0.711940,0.735043,0.641667,0.610551,0.301887,0.885714,0.514286,0.15625,0.308411,0.510204,0.166667,0.236842,0.434611

In [77]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  201 non-null    float64
 1   wheel-base         201 non-null    float64
 2   length             201 non-null    float64
 3   width              201 non-null    float64
 4   height             201 non-null    float64
 5   curb-weight        201 non-null    float64
 6   engine-size        201 non-null    float64
 7   bore               201 non-null    float64
 8   stroke             201 non-null    float64
 9   compression-rate   201 non-null    float64
 10  horsepower         201 non-null    float64
 11  peak-rpm           201 non-null    float64
 12  city-mpg           201 non-null    float64
 13  highway-mpg        201 non-null    float64
 14  price              201 non-null    float64
dtypes: float64(15)
memory usage: 25.1 KB

In [80]:
df_cat = cars.drop(df_num.columns,axis=1)

In [81]:
df_cat

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,3,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,3,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,2,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,2,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,-1,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,-1,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,-1,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,-1,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [82]:
df_cat['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [83]:
df_cat['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [84]:
df_cat['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [85]:
df_cat['engine-location'].unique()

array(['front', 'rear'], dtype=object)

In [86]:
df_cat['engine-type'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [87]:
df_cat['fuel-system'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [88]:
df_cat['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

In [89]:
df_cat['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [90]:
df_cat['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [91]:
df_cat['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [92]:
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
for c in df_cat.columns:

      df_cat[c]= label_encoder.fit_transform(df_cat[c])
  
      df_cat[c].unique()

In [94]:
for c in df_cat.columns:
     print(df_cat[c].unique())

[5 3 4 2 1 0]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]
[1 0]
[0 1]
[2 1 0]
[0 2 3 4 1]
[2 1 0]
[0 1]
[0 5 3 2 6 4 1]
[2 3 1 4 5 6 0]
[5 1 4 0 7 2 3 6]

In [97]:
df = pd.concat([df_num,df_cat],axis=1)

In [98]:
df

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-rate,...,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,...,0,1,0,2,0,2,0,0,2,5
1,0.298429,0.058309,0.413433,0.324786,0.083333,0.411171,0.260377,0.664286,0.290476,0.12500,...,0,1,0,2,0,2,0,0,2,5
2,0.298429,0.230321,0.449254,0.444444,0.383333,0.517843,0.343396,0.100000,0.666667,0.12500,...,0,1,0,2,2,2,0,5,3,5
3,0.518325,0.384840,0.529851,0.504274,0.541667,0.329325,0.181132,0.464286,0.633333,0.18750,...,1,1,0,1,3,1,0,3,2,5
4,0.518325,0.373178,0.529851,0.521368,0.541667,0.518231,0.283019,0.464286,0.633333,0.06250,...,1,1,0,1,3,0,0,3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.157068,0.655977,0.711940,0.735043,0.641667,0.567882,0.301887,0.885714,0.514286,0.15625,...,21,1,0,1,3,2,0,3,2,5
201,0.157068,0.655977,0.711940,0.726496,0.641667,0.605508,0.301887,0.885714,0.514286,0.10625,...,21,1,1,1,3,2,0,3,2,5
202,0.157068,0.655977,0.711940,0.735043,0.641667,0.591156,0.422642,0.742857,0.380952,0.11250,...,21,1,0,1,3,2,0,5,3,5
203,0.157068,0.655977,0.711940,0.735043,0.641667,0.670675,0.316981,0.335714,0.633333,1.00000,...,21,0,1,1,3,2,0,3,3,3
204,0.157068,0.655977,0.711940,0.735043,0.641667,0.610551,0.301887,0.885714,0.514286,0.15625,...,21,1,1,1,3,2,0,3,2,5

In [99]:
corr = df.corr()["price"].sort_values(ascending=False)[1:]

# absolute for positive values
abs_corr = abs(corr)

# random threshold for features to keep
relevant_features = abs_corr[abs_corr>0.4]
relevant_features

engine-size     0.872335
curb-weight     0.834415
horsepower      0.809681
width           0.751265
length          0.690628
drive-wheels    0.588333
wheel-base      0.584642
bore            0.543154
fuel-system     0.521689
city-mpg        0.686571
highway-mpg     0.704692
Name: price, dtype: float64

In [103]:
d_features = df.drop(columns=[col for col in df if col not in relevant_features])

In [104]:
d_features

,wheel-base,length,width,curb-weight,engine-size,bore,horsepower,city-mpg,highway-mpg,drive-wheels,fuel-system
0,0.058309,0.413433,0.324786,0.411171,0.260377,0.664286,0.294393,0.222222,0.289474,2,5
1,0.058309,0.413433,0.324786,0.411171,0.260377,0.664286,0.294393,0.222222,0.289474,2,5
2,0.230321,0.449254,0.444444,0.517843,0.343396,0.100000,0.495327,0.166667,0.263158,2,5
3,0.384840,0.529851,0.504274,0.329325,0.181132,0.464286,0.252336,0.305556,0.368421,1,5
4,0.373178,0.529851,0.521368,0.518231,0.283019,0.464286,0.313084,0.138889,0.157895,0,5
...,...,...,...,...,...,...,...,...,...,...,...
200,0.655977,0.711940,0.735043,0.567882,0.301887,0.885714,0.308411,0.277778,0.315789,2,5
201,0.655977,0.711940,0.726496,0.605508,0.301887,0.885714,0.523364,0.166667,0.236842,2,5
202,0.655977,0.711940,0.735043,0.591156,0.422642,0.742857,0.401869,0.138889,0.184211,2,5
203,0.655977,0.711940,0.735043,0.670675,0.316981,0.335714,0.271028,0.361111,0.289474,2,3
204,0.655977,0.711940,0.735043,0.610551,0.301887,0.885714,0.308411,0.166667,0.236842,2,5

In [105]:
d_features =d_features.drop(['fuel-system','drive-wheels'],axis=1)

In [106]:
d_features

,wheel-base,length,width,curb-weight,engine-size,bore,horsepower,city-mpg,highway-mpg
0,0.058309,0.413433,0.324786,0.411171,0.260377,0.664286,0.294393,0.222222,0.289474
1,0.058309,0.413433,0.324786,0.411171,0.260377,0.664286,0.294393,0.222222,0.289474
2,0.230321,0.449254,0.444444,0.517843,0.343396,0.100000,0.495327,0.166667,0.263158
3,0.384840,0.529851,0.504274,0.329325,0.181132,0.464286,0.252336,0.305556,0.368421
4,0.373178,0.529851,0.521368,0.518231,0.283019,0.464286,0.313084,0.138889,0.157895
...,...,...,...,...,...,...,...,...,...
200,0.655977,0.711940,0.735043,0.567882,0.301887,0.885714,0.308411,0.277778,0.315789
201,0.655977,0.711940,0.726496,0.605508,0.301887,0.885714,0.523364,0.166667,0.236842
202,0.655977,0.711940,0.735043,0.591156,0.422642,0.742857,0.401869,0.138889,0.184211
203,0.655977,0.711940,0.735043,0.670675,0.316981,0.335714,0.271028,0.361111,0.289474
204,0.655977,0.711940,0.735043,0.610551,0.301887,0.885714,0.308411,0.166667,0.236842

In [110]:
X=df_num.drop('price',axis=1)
Y=df_num['price']

In [118]:
# split data :

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                    train_size=0.7,
                                                    test_size = 0.3, random_state=100)

In [119]:
from sklearn.linear_model import LinearRegression

# instantiate
lm = LinearRegression()
# fit
lm.fit(X_train, Y_train)
# predict 
Y_pred = lm.predict(X_test)
# metrics
from sklearn.metrics import r2_score,accuracy_score

print(r2_score(y_true=Y_test, y_pred=Y_pred))
print()

0.788607312538091